*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: black;
    text-decoration: none;
}
body{
   /*  font-family: var(--font-roboto),sans-serif;
    font-size: 12px;
    padding: 0px 3px;
     */
     background-color: var(--color-GrisClaro);
}
li{
    list-style: none;
}
p {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

