header{
    background-color: var(--color-amarillo);
    font-size: var(--parrafos);
    padding-bottom: 10px;
    padding-top: 30px;
    
}
 
.header__hamburger {
    border: none;
    background-color: var(--color-Celeste);
    border-radius: 5px;
    color: white;
    text-align: center;
    width: 40px;
    height: 40px;
    padding: 7px;
    font-size: 28px;
    margin: 10px auto 0 auto;
    }
.header__logo {
    width: 130px;
    margin-left: 25;
}

.header__busqueda {
    margin-left: 25px;    
}

