.home__header {
    background-color: var(--color-Amarillo);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}
 .header__hamburger {
    justify-content: center;
    flex-wrap:wrap;
    width: 40px;
    height: 40px;
    position: relative;
    background-color: var(--color-Celeste);
    margin-bottom: 20px;
    margin-left: 150px;
    border-radius: 5px;
    color: white;
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
   align-content: center;
    
    }
.header__logo {
   
   width: 45%;
}
.header__logo img {
    width: 90%;
}

.header__busqueda{
   
    width: 50%;
    position: relative;
    padding: 0px;
    
}
.header__busqueda input{
    width: 100%;
    padding: 8px 32px 8px 8px;
    background-color: #ffff;
    color: var(--color-GrisOscuro);
    border: none;
    border-radius: 8px;
    border-radius: 20px;
   
}
.home__header__busqueda--button{
    font-family: var(--font-roboto), sans-serif;
    font-size: 20px;
    top: -8px;
    right: 4px;
    color: var(--color-GrisOscuro);
    position: absolute;
    background-color: transparent;
    border: none;
    border-left: 1px solid var(--color-GrisOscuro);
    padding: 0 4px;
    
}
.home__header--titulo{
    font-family: var(--font-roboto);
     font-size: 12px;
}
.home__header__nav{
    display: none;
}
.home__header__nav--menuVenta{
    display: none;
    padding: 10px;
}
.home__header__nav--menuLogin{
    display: none;
    padding: 10px;
   
}

@media (min-width: 361px){
    .header__logo{
        width: 30%;
    }
    .home__header--busqueda{
        width: 30%;
    }
    .home__header--titulo{
        width: 30%;
        display: flex;
        align-items: center;
    }
}
    @media (min-width: 768px) {
    
        
        .home__header__nav{
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
        }
        .home__header__nav--menuVenta {
            display: flex;
            gap: 10px;
        }
        .header__nav--menuLogin{
            display: flex;
            gap: 10px;
        }
    }



