
.home__main {
    display: inline;
    background-color: var(--color-GrisClaro);
    width: 90%;
   
    
}
.home__main__section--banner{
    
    margin: 0px 0px 20px 0px;
}
.home__header--compra{
    width: 100%;
    font-size: 17px;
    
}

.home__main__section--titulos{
    font-family: var( --font-roboto);
    font-size: 24px;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}
.home__main__section{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
.home__main__section:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}


.home__main__section__article{

    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: center;
}
.home__main__section__imgProduct{
        width: 100%;
        
    }
.home__main__section__article__info{
   
    /* display: flex;
    border-top: 1px solid var(--color-GrisClaro);
    flex-wrap: wrap;
    position: relative;
    align-items: center;
  */
  background-color: white;
  border-top: 1px solid var(--color-GrisClaro);
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
  width: 100%;
 
    
}
.home__main__section__article__info:hover {
    height: 50px;
margin-top: 30px;
}
.home__main__section__article i{
   
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid var(--color-Verde);
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    right: -125px;
    top: 23px;
    color: var(--color-Verde); 
    transition:  1s;  
}
.home__main__section__article i:hover {
    transform: rotate(-90deg);
}

.home__main__section__article__precio{
    width: 30%;
  font-size: 18px;
  padding-right: 10px;
}
.home__main__section__article__descuento{
    width: 70%;
   font-size: 16px;
    color: var(--color-Verde);
    
}
.home__main__section__article__nombre{
   
    font-size: 16px;
    color: var(--color-GrisOscuro);
    margin-top: 30px;
    height: 0;
    width: 100%;
    transition: all 1s;
    overflow: hidden;
}
.home__main__section__article__info:hover .home__main__section__article__nombre{
    height: 30px;
}
@media (min-width: 361px){
  
    .home__main__section__article{
       justify-content: space-between;
        display: inline-block;
        width: 40%;
        
    }
    .home__main__section__article__info{
        display: block;
    }
    .home__header__nav{
        display: flex;
        flex-wrap: wrap;
      }
      .home__header__nav--menuVenta{
        width: 100%;
        display: flex;
        gap: 60px;
        flex-direction: row;
        flex-wrap: nowrap;
        padding: 0 60px 0 60px;
    }
    .home__header__nav--menuLogin{
        display: flex;
        width: 60%;
        gap: 30px;
        justify-content: flex-end;
        align-items: flex-end;
        padding: 0 0 0 100px;
    }
    .header__hamburger{
        display: none;
    }
    
    }

@media (min-width: 769px){
    .home__main__section__article{
     width: 21%;
    }
    .home__main__section__article__info{
        position: relative;
    }
    .header__menu{
        display: block;
    }
    .header__hamburger{
        display: none;
    }
    .home__main__section__article i{
        display: block;
        font-size: 16px;
        padding: 5px;
        width: 30px;
        height: 30px;
        border:1px solid var(--color-Verde);
        background-color: #FFF;
        border-radius: 50%;
        position: relative;
        right: -71px;
        top: 23px;
        color: var(--color-Verde);

    } 
    
}
